<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css" />
  
    <title>Boolzapp</title>
  </head>
  <body>

    <div id="background_green"></div>
    <div id="app">
        <!-- contats -->
        <div id="side_bar">
            <!-- personal profile -->
            <section id="personal_profile">
                <img :src="mainAvatar" alt="">
                <h3 class="name_contacts">{{mainUser}}</h3>
                
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            
            </section>
            <!-- active notification -->
            <section id="active_notification">
                <div class="icon">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
                             
            </section>
            <div id="search_contacts_chat">
              <div id="my_search_input">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <input type="text" placeholder="Cerca o inzia una nuova Chat">
              </div>

          </div>

          <!-- contat's chats -->
          <div class="contacts">
              <div class="contact" v-for="(contact, i) in contacts" @click="changeChat(i)">
                  <img :src="contact.avatar" alt="">
                  <div class="name_contacts">
                      <h4>{{contact.name}}</h4>
                      <small class="text_gray">Ultimo messaggio inviato</small>
                  </div>
                  <div class="time">12:00</div>
              </div>


                    
                <!-- </div>
                <div class="contats">
                  <div class="contat">
                      <img src="img/avatar_2.png" alt="">
                      <div class="name_contacts">
                          <h4>Fabio</h4>
                          <small class="text_gray">Ultimo messaggio</small>
                      </div>
                      <div class="time">12:00</div>
                  </div>
                  
              </div>
              <div class="contats">
                <div class="contat">
                    <img src="img/avatar_5.png" alt="">
                    <div class="name_contacts">
                        <h4>Samuele</h4>
                        <small class="text_gray">Ultimo messaggio</small>
                    </div>
                    <div class="time">12:00</div>
                </div>
                
            </div>
            <div class="contats">
              <div class="contat">
                  <img src="img/avatar_6.png" alt="">
                  <div class="name_contacts">
                      <h4>Alessandro B.</h4>
                      <small class="text_gray">Ultimo messaggio</small>
                  </div>
                  <div class="time">12:00</div>
              </div>
              
          </div>
          <div class="contats">
            <div class="contat">
                <img src="img/avatar_7.png" alt="">
                <div class="name_contacts">
                    <h4>Alessandro L.</h4>
                    <small class="text_gray">Ultimo messaggio</small>
                </div>
                <div class="time">12:00</div>
            </div>
            
        </div>
        <div class="contats">
          <div class="contat">
              <img src="img/avatar_3.png" alt="">
              <div class="name_contacts">
                  <h4>Claudia</h4>
                  <small class="text_gray">Ultimo messaggio</small>
              </div>
              <div class="time">12:00</div>
          </div>
          <div class="contats">
            <div class="contat">
                <img src="img/avatar_7.png" alt="">
                <div class="name_contacts">
                    <h4>Federico</h4>
                    <small class="text_gray">Ultimo messaggio</small>
                </div>
                <div class="time">12:00</div>
            </div>
            <div class="contats">
              <div class="contat">
                  <img src="img/avatar_8.png" alt="">
                  <div class="name_contacts">
                      <h4>Davide</h4>
                      <small class="text_gray">Ultimo messaggio</small>
                  </div>
                  <div class="time">12:00</div>
              </div> -->

          
      </div>
            </section>
        </div>
        <!-- MAIN personal chat -->
        <main>
          <section id="profil_contat_chat">
      
              <img :src="contacts[activeChat].avatar" alt="">
              <div class="name_contacts">
                  <h3>{{contacts[activeChat].name}}</h3>
                  <div class="text_gray">
                      ultimo accesso
                      <div class="time">{{contacts[activeChat].messages[0].date}}</div>
                  </div>
              </div>
                
                
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            
            </section>
            <section id="chat">
              <div  v-for="(message, index) in contacts[activeChat].messages" :class="(message.status === 'sent') ? 'message sent': 'message received'">
                
                <p class="text_message">{{message.message}}</p>
                <div class="time">{{message.date}}</div>
              </div>

            </section>
            <section id="input_message_chat">

                    <i class="fa-regular fa-face-smile"></i>


                    <input type="text" placeholder="Scrivi un messaggio" v-model="newText" @keyup.enter="addItem">
                  
          

                    <i class="fa-solid fa-microphone"></i>


            </section>
        </main>
    </div>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="boolzapp.js"></script>
  </body>
</html>